 # Big Contents of Courses
01. The Data Scientist’s Toolbox

02. R Programming/Week 01
02. R Programming/Week 02
02. R Programming/Week 03
02. R Programming/Week 04

03. Getting and Cleaning Data/Week 01
03. Getting and Cleaning Data/Week 02
03. Getting and Cleaning Data/Week 03
03. Getting and Cleaning Data/Week 04

04. Exploratory Data Analysis/Week 01
04. Exploratory Data Analysis/Week 02
04. Exploratory Data Analysis/Week 03
04. Exploratory Data Analysis/Week 04
04. Exploratory Data Analysis/Swirl WS/.RData

05. Reproducible Research/Week 01
05. Reproducible Research/Week 02
05. Reproducible Research/Week 03
05. Reproducible Research/Week 04

06. Statistical Inference/Week 01
06. Statistical Inference/Week 02
06. Statistical Inference/Week 03
06. Statistical Inference/Week 04

07. Regression Models/Week 01
07. Regression Models/Week 02
07. Regression Models/Week 03
07. Regression Models/Week 04

08. Practical Machine Learning
09. Developing Data Products
09. Developing Data Products v2
10. Data Science Capstone
Textbooks
JHDSS_CourseDependencies.pdf

CourseGit

# Temporary File of Notes.docx made by Microsoft Office
~$Notes.docx
.Rproj.user
